*{
    border: 1px solid red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

span{margin-left: 5vw; margin-right: 5vw;}

.musicas{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.musica {
    margin-bottom: 40px; 
}

.titulo-tom {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recebido-por {
    margin-bottom: 10px;
}

.letra {
    white-space: pre-wrap;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    width: max-content;
    
}

@media (max-width:272px)
{
  .letra
   {
    font-size: 12px;
    width: 100%;
   }

   .musicas{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

    audio {
        width: 500px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
    }
}