/* * {
    border: 1px solid red;
  } */
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* Reduzindo o padding para melhorar a visualização em dispositivos móveis */
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  span {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .musicas {
    width: 70%; /* Aumentando a largura para se ajustar melhor em telas maiores */
    max-width: 800px; /* Definindo um máximo para evitar que o conteúdo se estenda muito em telas grandes */
    margin-left: auto;
    margin-right: auto;
  }
  
  .musica {
    margin-bottom: 40px;
  }
  
  .titulo-tom {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recebido-por {
    margin-bottom: 10px;
  }
  
  .letra {
    white-space: pre-wrap;
    font-size: 18px; /* Aumentando o tamanho da fonte para melhorar a legibilidade */
    text-align: left;
    max-width: 100%; /* O texto ocupará a largura máxima disponível */
    margin: 0; /* Removendo as margens laterais para ocupar toda a largura */
  }
  
  @media (max-width: 480px) {
    /* Ajustes para telas menores (por exemplo, dispositivos móveis) */
    .musicas {
      width: 90%; /* Aumentando a largura para preencher mais a tela em dispositivos móveis */
      max-width: 100%; /* Permitindo que ocupe a largura total da tela */
    }
  
    audio {
      width: 100%; /* O áudio ocupará a largura total da tela em dispositivos móveis */
    }
  
    body {
      font-size: 14px; /* Ajustando o tamanho da fonte para melhor legibilidade em telas menores */
      padding: 5px; /* Reduzindo o padding para melhor aproveitamento do espaço em telas menores */
    }
  }
  