/* Defina aqui a paleta de cores inspirada na natureza */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

section.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

section.hero img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #48a14d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #347f36;
}

section {
    padding: 50px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}

.policies {
    margin-top: 20px;
}

.policies a {
    color: #fff;
    margin-right: 10px;
}
